.menuList {
    padding: 20px 0;
    display: flex;
    width:80%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
        overflow-y: scroll;
        height: 500px;
        border: 2px solid rgb(239, 239, 252);
}
.menuItem{
    margin-top:10px;
    width: 250px;
    height: 300px;
}