.menuList {
    padding: 20px 0;
    display: flex;
    width:80%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        overflow-y: scroll;
        height: 500px;
        border: 2px solid rgb(239, 239, 252);
}
.menuItem{
    /* margin-top:10px; */
  
    width: 250px;
    height: 200px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    border: 2px solid rgb(219, 217, 217);
}