.descBox {
    margin-top: 20px;
    position: relative;
}
.descButton {
position: absolute;
bottom: 10;
right: 0;
}
.descName {
position: absolute;
left: 1;
top:0
}
.descPrice {
position: absolute;
bottom: 0;
left: 0;
}